html,body {
    overflow-x: hidden
}

*{
    margin: 0;
    padding: 0;
    font-family: "Mulish", "sans-serif";
    font-size: 16px;
}

/******** Hero Section ********/

.hero-section{    
    background-image: linear-gradient(to right, #0a1f58, #080c18);
    padding: 2rem 4rem;
}

header {
    justify-content: space-between;
    align-items: center;
}
header .nav-menu{
    margin-bottom: 0;
    align-items: center;
}
header .nav-item{
    list-style: none;
    display: inline-block;
}
header .nav-item a{
    text-decoration: none;
    color: white;
    padding-right: 3rem;
}
header .nav-item a:hover{
    text-decoration: none;
    color: #f8458a;
}
header button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 22px;
    line-height: normal;
}
header button:hover{
    background-color: #f8458a;
    color: white;
    border: 1px solid #f8458a;
}
header .hamburger {
    display: none;
}

.hero-section section {
    display: flex;
    margin-top: 40px;
    height: 460px;
}
.left-content{
    color: white;
    padding-top: 100px;
    width: 52%;
    z-index: 1;
}
.left-content h1{
    font-size: 4rem;
}
.left-content p{
    font-size: 1.2rem;
    font-weight: 100;
}
.left-content button{
    background-image: linear-gradient(#f8458a, #ff9913ee);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 22px;
    line-height: normal;
}
.left-content button:hover{
    box-shadow: 2px 4px 14px #080c18;
}
.right-content{
    width: 70%;
}
.right-content img{
    position: absolute;
    height: 500px;
    right: 60px;  
}

.hero-section .left-content .push-btn-container {
    position: absolute;
    top: 480px;
    right: 10px;
    display: none;
    
}
.hero-section .left-content .push-btn {
    background-image: none;
    background-color: #f8458a;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 18px 22px;
    box-shadow: 2px 0px 17px -6px #dcdde3;
}
.hero-section .push-btn i {
    font-size: 1.4rem;
}


/******** Services Section ********/

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 4rem;
} 
.services .headings{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.services .headings p{
    color: #f8458a;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0;
}
.services .headings h1{
    width: 500px;
    font-weight: bold;
    text-align: center;
}

.gallery{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

.gallery .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.gallery .item .logo-container {
    box-shadow: 2px 12px 22px -6px #dcdde3;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.gallery .item .logo-container i {
    color: #f8458a;
    font-size: 1.5rem;
}
.gallery .item .service-heading {
    font-weight: bold;
    margin-top: 20px;
}

/******** Promotions Section ********/

.promotions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 4rem;
    background-color: #e2e8ff;
    margin: 0 0 !important;
}

.promotions .notification-container {
    background-color: #f8f9ff;
    box-shadow: 2px 12px 22px -6px #afafb4;
    width: 400px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 20px;

    position: absolute;
    bottom: 220px;
    left: 300px;
}   
.promotions .notification-container span {
    background-color: #fae0ea;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-right: 20px;
}
.promotions .notification-container .feature-heading {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: bold;
}
.promotions .notification-container p {
    margin-bottom: 0;
    font-size: 1rem;
}

.promotions .image-container .img {
    position: relative;
    
}

.business-container {
    height: 500px;
}
.business-container h1 {
    width: 300px;
    font-weight: bold;
}

.business-container .item {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.business-container .item button{
    background-color: #f8458a;
    background-image: linear-gradient(#f8458a, #ff8f00c4);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 22px;
    line-height: normal;
}
.business-container button:hover{
    box-shadow: 2px 4px 14px #777a86;
}

.business-container .item .logo-container {
    background-color: #f8f9ff;
    box-shadow: 2px 12px 22px -6px #c0c5e2;
    min-width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.business-container .item .logo-container i {
    color: #f8458a;
    font-size: 1.5rem;
}

.business-container .headings {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.business-container .business-heading {
    font-weight: bold;
}
.business-container .business-desc {
    font-size: 0.9rem;
    margin-bottom: 0;
}

/******** Industries Section ********/

.industries {
    background-image: linear-gradient(to right, #02040a, #051258);
    padding: 5rem 4rem;
}
.industries .headings p {
    color: #f8458a;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0;
}
.industries .headings .head h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-right: 110px;
    margin-bottom: 20px;
}
.industries .headings .desc p {
    width: 400px;
    color: white;
    font-weight: lighter;
    margin-top: 5px;
}

.industries .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.industries .gallery .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 1px 3px #a9a9a9;
    margin: 20px;
    padding: 40px 30px;
    width: 220px;
}

.industries .gallery .item i {
    color: #f8458a;
    font-size: 1.5rem;
}
.industries .gallery .item .service-heading {
    font-weight: bold;
    margin-top: 20px;
    color: white;
}
.section-footer, .section-footer a {
    text-align: center;
    color: white;
}
.section-footer a {
    text-decoration: underline;
}
.section-footer a:hover {
    color: #f8458a;
}

/******** Partners Section ********/

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 4rem;
}

.partners .headings {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.partners .headings p{
    margin: 0 13rem;
}
.partners .headings h1{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.partners button{
    background-color: transparent;
    color: #f8458a;
    border: 1px solid #f8458a;
    border-radius: 30px;
    padding: 10px 22px;
    line-height: normal;
    margin-top: 40px;
}
.partners button:hover{
    background-image: linear-gradient(#f8458a, #ff9913ee);
    color: white;
    border: 1px solid white;
}
.partners .gallery .item {
    padding: 0 60px;
}


/******** Products Section ********/

.products {
    border-top: 1px solid lightgrey;
    padding: 5rem 4rem;
}
.products .heading h1{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.products .gallery .item img {
    width: 100%;
}
.products .gallery .item .desc p {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
}

/******** Promo Video Section ********/

.promovideo {
    background: url('../assets/imgs/video_background.png') no-repeat;
    height: auto;
}
.promovideo .container {
    background-image: linear-gradient(#0000004a, #0100106b);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 4rem;
    max-width: 100%;
}
.promovideo .play-btn {
    background-image: linear-gradient(#f8458a, #ff9913ee);
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    line-height: normal;
    width: 60px;
    height: 60px;
}
.promovideo .play-btn i{
    font-size: 1.5rem;
}
.promovideo .play-btn:hover {
    box-shadow: 2px 20px 45px #787b7c;
}
.promovideo .heading {
    width: 50%;
}
.promovideo h1 {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 2rem 0;
}
.promovideo .getstarted-btn {
    background-color: white;
    color: #f8458a;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: normal;
}
.promovideo .getstarted-btn:hover {
    background-color: #f8458a;
    color: white;
    font-weight: bold;
    border: 1px solid #f8458a;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: normal;
}


/******** Footer Section ********/

footer {
    padding: 5rem 4rem 0 4rem;
}

footer .col1 .icon {
    display: flex;
    margin-bottom: 18px;
}
footer .col1 .icon p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 8px;
}
footer .col1 h3 {
    margin: 18px 0px
}
footer .col1 a p{
    font-size: 0.9rem;
    text-decoration: underline;
}

footer .item .heading {
    font-size: 1.4rem;
    font-weight: bold;
}
footer .item li {
    list-style: none;
    margin: 12px 0px;
}
footer .item li a{
    color: black;
    text-decoration: none;
}
footer .item li a:hover{
    color: #f8458a
}

footer .col4 .subscribe-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 15px;
    margin-bottom: 1rem;
}
footer .col4 .subscribe-field input {
    width: 100%;
    border: none;
    color: black;
}
footer .col4 .subscribe-field input::placeholder{
    color: black;
}
footer .col4 .subscribe-field input:focus {
    border: none;
    outline: none;
}
footer .col4 .subscribe-field i:hover {
    color: #f8458a;
}

.social-logos a {
    color: black;
    text-decoration: none;
    margin: 10px
}
.social-logos a:hover {
    color: #f8458a;
    text-decoration: none;
}


.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 0.8rem;
}
.copyright i {
    margin-left: 2px;
    margin-right: 2px;
}
.copyright span{
    font-size: 0.8rem;
    margin-left: 2px;
    color: #f8458a;
}

/* for 1200px and less devices */
@media only screen and (max-width: 1200px) {
    header .hamburger {
        display: block;
        background-color: transparent;
        color: white;
        border-radius: 20px;
        padding: 10px 22px;
        line-height: normal;
    }
    header .hamburger span{
        padding-right: 10px;
        font-size: 1.2rem;
    }
    header .hamburger:hover {
        text-shadow: 2px 4px 14px #455074;
        color: white;
        cursor: pointer;
    }

    header button, .nav-menu {
        display: none;
    }
    .left-content h1{
        font-size: 6vw;
    }
    .right-content{
        width: 50%;
    }
    .right-content img{
        height: 460px;
    }

    .promotions .image-container .img img {
        display: block;
        margin: auto;
        width: 100%;
    }

    .promotions .notification-container {
        background-color: #f8f9ff;
        box-shadow: 2px 20px 31px #16171c;
        width: 400px;
        border-radius: 5px;
        padding: 20px;
        bottom: 0px;
        left: 0px;
        width: 92%;
        margin: 4%;
        margin-bottom: 3%;
    }  
}

/* for devices less than 992px */
@media screen and (max-width: 991px) {
    .hero-section {
        padding: 1px
    }
    header .hamburger {
        padding-right: 0px
    }
    .services, .partners{
        padding-left: 1px;
        padding-right: 1px;
    }
    .promotions, .products {
        padding-left: 0;
        padding-right: 0;
    }
    .industries, footer {
        padding-right: 15px;
        padding-left: 15px;
    }
    .partners .gallery, .services .gallery, .industries .gallery .item {
        width: 100%;
    }
    .partners .gallery .item, .products .gallery .item {
        padding: 0;
    }
    .products .gallery {
        margin-left: 0;
        margin-right: 0;
    }
    .products .gallery .img-container {
        width: 90%;
    }






    .hero-section{
        width: 100%;
    }
    .left-content {
        margin-top: 10px;
        width: 100%;
    }
    .left-content p{
        font-size: 1.2rem;
        font-weight: 100;
    }

    .right-content{
        display: none;
    } 
    .hero-section .left-content .push-btn-container {
        display: block;
    }
    .services .headings h1 {
        font-size: 6vw;
    }
    
    .business-container {
        height: auto;
    }
    .business-container h1{
        margin-top: 30px;
    }
    .business-container .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }
    .business-container .item span{
        margin-bottom: 10px;
    }
    .partners .headings p{
        margin: 0 2rem;
    }
    .promovideo .heading {
        width: 100%;
    }

}

/* for 576px and less devices */
@media screen and (max-width: 576px) {
    .services .headings h1 {
        width: 400px;
    }
    .partners .headings h1 {
        font-size: 1.5rem;
    }
    .partners .headings p{
        margin: 0;
    }
    .products .gallery .item .desc p {
        font-size: 1rem;
    }
    .industries .headings .desc p {
        width: 100%;
    }
    .industries .headings .head h1 {
        font-size: 3.4vw;
    }
    .copyright {
        display: block;
    }
    
}