*{
    margin: 0;
    padding: 0;
    font-family: "Mulish", "sans-serif";
    font-size: 16px;
}


.hero-section{    
    background-image: linear-gradient(to right, #0a1f58, #080c18);
    padding: 2rem 4rem;
}

header {
    justify-content: space-between;
    align-items: center;
}
header .nav-menu{
    margin-bottom: 0;
    align-items: center;
}
header .nav-item{
    list-style: none;
    display: inline-block;
}
header .nav-item a{
    text-decoration: none;
    color: white;
    padding-right: 3rem;
}
header .nav-item a:hover{
    text-decoration: none;
    color: #f8458a;
}
header button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 22px;
    line-height: normal;
}
header button:hover{
    background-color: #f8458a;
    color: white;
    border: 1px solid #f8458a;
}
header .hamburger {
    display: none;
}

.hero-section section {
    display: flex;
    margin-top: 40px;
    height: 460px;
}
.left-content{
    color: white;
    padding-top: 100px;
    width: 540px;
}
.left-content h1{
    font-size: 4rem;
}
.left-content p{
    font-size: 1.2rem;
    font-weight: 100;
}
.left-content button{
    background-color: #f8458a;
    color: white;
    border: 1px solid #f8458a;
    border-radius: 30px;
    padding: 10px 22px;
    line-height: normal;
}
.left-content button:hover{
    box-shadow: 2px 4px 14px #080c18;
}
.right-content img{
    position: absolute;
    height: 500px;
    right: 85px;  
}

@media only screen and (max-width: 1100px) {

    header .hamburger {
        display: block;
        background-color: transparent;
        color: white;
        border-radius: 20px;
        padding: 10px 22px;
        line-height: normal;
    }
    header .hamburger span{
        padding-right: 10px;
        font-size: 1.2rem;
    }
    header .hamburger:hover {
        text-shadow: 2px 4px 14px #455074;
        color: white;
        cursor: pointer;
    }

    header button, .nav-menu {
        display: none;
    }
}